<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12" id="results">

        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-messaging.js"></script>
    <script>
      // Initialize Firebase
      const config = {
        apiKey: "AIzaSyC4Yc6J_Bkl4FGO6LSP2t6Hp0AmE1iU3yY",
        authDomain: "madorosspushtest.firebaseapp.com",
        databaseURL: "https://madorosspushtest.firebaseio.com",
        projectId: "madorosspushtest",
        storageBucket: "madorosspushtest.appspot.com",
        messagingSenderId: "100300799681"
      }
      firebase.initializeApp(config)

      const messaging = firebase.messaging()

      messaging.requestPermission()
      .then(function(data) {
        console.log('Notification permission granted.');
        return messaging.getToken();
      })
      .then(function(currentToken) {
        if (currentToken) {
          // sendTokenToServer(currentToken);
          // updateUIForPushEnabled(currentToken);
          console.log(currentToken)
        } else {
          // Show permission request.
          console.log('No Instance ID token available. Request permission to generate one.');
          // Show permission UI.
          // updateUIForPushPermissionRequired();
          // setTokenSentToServer(false);
        }
      })
      .catch(function(err) {
        console.log('Unable to get permission to notify.', err);
      });


      //
      //
      // messaging.onTokenRefresh(function() {
      //   messaging.getToken()
      //   .then(function(refreshedToken) {
      //     console.log(refreshedToken)
      //     console.log('Token refreshed.');
      //     // Indicate that the new Instance ID token has not yet been sent to the
      //     // app server.
      //     // setTokenSentToServer(false);
      //     // Send Instance ID token to app server.
      //     // sendTokenToServer(refreshedToken);
      //     // [START_EXCLUDE]
      //     // Display new Instance ID token and clear UI of all previous messages.
      //     // resetUI();
      //     // [END_EXCLUDE]
      //   })
      //   .catch(function(err) {
      //     console.log('Unable to retrieve refreshed token ', err);
      //     // showToken('Unable to retrieve refreshed token ', err);
      //   });
      // });

      messaging.onMessage(function(payload) {
        console.log("Message received. ", payload);
        // [START_EXCLUDE]
        // Update the UI to include the received message.
        // appendMessage(payload);
        // [END_EXCLUDE]
      });

    </script>
  </body>
</html>
