<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <br><br>
      <h4>SendToTopic</h4>
      <hr>
      <div class="row">
        <div class="col-sm-12">
          <form name="send-to-topic-form" id="send-to-topic-form" method="post" action="/message/send/topic">
            <div class="form-group">
              <label for="topic">주제</label>
              <input type="text" class="form-control" id="topic" name="topic" value="notice" placeholder="Enter Topic" required/>
            </div>
            <div class="form-group">
              <label for="title">알림제목</label>
              <input type="text" class="form-control" id="title" name="title" placeholder="Enter NotiTitle" required/>
            </div>
            <div class="form-group">
              <label for="body">알림내용</label>
              <input type="text" class="form-control" id="body" name="body" placeholder="Enter NotiBody" required/>
            </div>
            <div class="form-group">
              <label for="payload">알림내용</label>
              <input type="text" class="form-control" id="payload" name="payload" placeholder="Enter PayloadLink" required/>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-messaging.js"></script>
  </body>
</html>
