<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <br><br>
      <h4>SubcribeManager</h4>
      <hr>
      <div class="row">
        <div class="col-sm-12">
          <form name="send-to-topic-form" id="send-to-topic-form" method="post" action="/admin/subscribe">
            <div class="form-group">
              <label for="topic">주제</label>
              <input type="text" class="form-control" id="topic" name="topic" value="notice" placeholder="Enter Topic" required/>
            </div>
            <div class="form-group">
              <label for="reg_tokens">토큰값</label>
              <input type="text" class="form-control" id="reg_tokens" name="reg_tokens" placeholder="Tokens Splited , " value="ewAOc4T9y3Y:APA91bHutCz-qWeji7r9fogOX8QTCQxzGwwlUMhDzWhjSBh7wDYL_aVzU6sfUtazWRJ9QWGdHB8E18OlBK9v0o7cv2Xg9P0oTv2Qw5BO4-UNzdrmjrL5DI8MLKzxU1OoGCVCTUvr3iUz" required/>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <label for="created-token">주제</label>
            <input type="text" class="form-control" id="created-token" name="created_token" value="" placeholder="Enter Token" required/>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-messaging.js"></script>
    <script>
      // Initialize Firebase
      const config = {
        apiKey: "AIzaSyC4Yc6J_Bkl4FGO6LSP2t6Hp0AmE1iU3yY",
        authDomain: "madorosspushtest.firebaseapp.com",
        databaseURL: "https://madorosspushtest.firebaseio.com",
        projectId: "madorosspushtest",
        storageBucket: "madorosspushtest.appspot.com",
        messagingSenderId: "100300799681"
      }
      firebase.initializeApp(config)

      const messaging = firebase.messaging()

      messaging.requestPermission()
      .then(function(data) {
        console.log('Notification permission granted.');
        return messaging.getToken();
      })
      .then(function(currentToken) {
        if (currentToken) {
          console.log(currentToken)
          $('#created-token').val(currentToken)
        } else {
          console.log('No Instance ID token available. Request permission to generate one.');
          // Show permission UI.
          // updateUIForPushPermissionRequired();
          // setTokenSentToServer(false);
        }
      })
      .catch(function(err) {
        console.log('Unable to get permission to notify.', err);
      });


      messaging.onTokenRefresh(function() {
        messaging.getToken()
        .then(function(refreshedToken) {
          console.log(refreshedToken)
          console.log('Token refreshed : ', refreshedToken);
          // Indicate that the new Instance ID token has not yet been sent to the
          // app server.
          // setTokenSentToServer(false);
          // Send Instance ID token to app server.
          // sendTokenToServer(refreshedToken);
          // [START_EXCLUDE]
          // Display new Instance ID token and clear UI of all previous messages.
          // resetUI();
          // [END_EXCLUDE]
          $('#created-token').val(refreshedToken)
        })
        .catch(function(err) {
          console.log('Unable to retrieve refreshed token ', err);
          // showToken('Unable to retrieve refreshed token ', err);
        });
      });

      messaging.onMessage(function(payload) {
        console.log("Message received. ", payload);
      });



    </script>
  </body>
</html>
